
html{
	height: 100%;
	min-width: 700px;

}

body{

	background-image: url("../img/fb-bg2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

/******* Create page sections *******/
div{
	/*border-style: solid;
	border-width: 3px;*/
}

#header{
	width:60%;
	height:40%;
	position: relative;
	top: 10px;
	left: 20%;
}


/******* Create the section for the video *******/

#vidResults{

	border-color:red;
	width: 730px;
	position:relative;
	top: 100px;
	left:30%;
	height: 0;
	padding-top: 25px;
	padding-bottom: 25.25%
}

#vidResults iframe{
	position:absolute;
	width:70%;
	height: 70%;
}

/******* Create Textbox to sit in the center of the page *******/
#searchBox{
	padding: 10px;
	position: relative;
	top:20px;
	left:26%;
}

form{
	position:absolute;
	margin-left:30%;
	margin-right:30%;
	left:30px;
}



