
body{
	background-image: url("../img/fb-bg2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

iframe{
	width: 900px;
	height: 470px;
}
/******* Create page sections *******/
div{
	/*border-style: solid;
	border-width: 3px;*/
}

#header{
	width:60%;
	height:40%;
	position: relative;
	top: 10px;
	left: 20%;
}

#results{
	width: 100%;
}

/******* Create the section for the video *******/

#vidResults{
/*left video*/
	border-color:red;
	width: 400px;
	position:relative;
	top: -20px;
	left:23%;

}

/******* Create Textbox to sit in the center of the page *******/
#searchBox{
	padding: 10px;
	position: relative;
	top:-70px;
	left:35%;
}

#query{
	font-size: 14px;
}

